html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(17, 17, 17);
}

canvas {
  display: block;
}

.menu{
  width: 100PX;
  height: 50px;
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
}